.answer-item {
    padding: 8px;
    border: solid 1px #ccc;
    border-radius: 10px;
    display: flex;
    gap: 16px;
}

.answer__likes-and-avatar .likes {
    display: flex;
    flex-direction: column;
    width: 40px;
    padding: 2px;
    text-align: center;
    user-select: none;
}

.answer__likes-and-avatar .likes .btn-like {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.answer__likes-and-avatar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px 8px;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px; 
}

.answer__likes-and-avatar .avatar {
    width: 60px;
    height: 60px;
}

.answer__footer {
    display: flex;
    align-items: center;
    width: 100%;
}

.answer_checkbox__footer {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-right: auto;
    user-select: none;
    cursor: pointer;
}