.page-content {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-item>button.ask-button {
    border-radius: 10px;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    width: 48px;
    height: 100%;
    cursor: pointer;
}

.profile-wrapper {
    min-width: 180px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.search-item {
    display: flex;
    gap: 4px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

header a:hover
{
    color: blue;
}

main a:hover {
    color: #ff0008;
}

header a {
    white-space: nowrap;
}

.search-line {
    width: 100%;
    max-width: 550px;
    height: 100%;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

.search {
    padding-left: 35px;
}

.search-line .loupe {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  pointer-events: none;
}

.page-content__root {
    display: flex;
    gap: 48px;
    flex-direction: row;
    width: 100%;
}

section.page-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.root__questions {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.root__main {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

section.paginator {
    margin-top: 12px;
}

section.paginator > * {
    background-color: white;
    transition: background-color 1s ease-out;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

section.paginator > *:hover {
    background-color: #4878d9a5;
}

section.paginator > .no-click {
    background-color: inherit;
    cursor: default;
}