form .input-header {
    min-width: 140px;
}

input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.file-upload-button {
  padding: 6px 16px;
  background-color: #ccc;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  height: 100%;
}

.file-upload-button:hover {
  background-color: #b1b1b1;
}

.file-name {
  font-size: 14px;
  color: #707070;
  min-width: 120px;
}
