
<aside>
    <section id="popular-tags">
        <h2>Popular Tags</h2>
        <div class="popular-tags-links">
            <a href="#">perl</a>
            <a href="#" style="color: red">python</a>
            <a href="#">technopark</a>
            <a href="#" style="color: red">mysql</a>
            <a href="#">technopark</a>
            <a href="#" id="firefox">firefox</a>
        </div>
    </section>

    <section id="best-members">
        <h2>Best Members</h2>
        <ul class="best-members-links">
            <li>
                <a href="#">mr freeman</a>
            </li>

            <li>
                <a href="#">dr house</a>
            </li>
            <li>
                <a href="#">bender</a>
            </li>
        </ul>
    </section>
</aside>