{% load static %}

<!DOCTYPE html>
<html lang="en">
 
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
        Главная страница
        {% endblock %}
    </title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://unpkg.com/centrifuge@5.4.0/dist/centrifuge.js"></script>
    <script src="{% static 'js/debounce.js' %}"></script>
    {% block page_links %}{% endblock  %}
    {% block aside_links %}{% endblock %}
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    
</head>
{% endblock head %}

<body>
    <div class="page-content">
        <header>
            <a href="{% url "questions:index_question_view" %}"> <h1>AskPupkin</h1> </a>

                <div class="search-item">
                    <div class="search-line">
                        <svg class="loupe" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
                        <path fill="#5e5e5e" d="M 13 3 C 7.4886661 3 3 7.4886661 3 13 C 3 18.511334 7.4886661 23 13 23 C 15.396652 23 17.59741 22.148942 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148942 17.59741 23 15.396652 23 13 C 23 7.4886661 18.511334 3 13 3 z M 13 5 C 17.430666 5 21 8.5693339 21 13 C 21 17.430666 17.430666 21 13 21 C 8.5693339 21 5 17.430666 5 13 C 5 8.5693339 8.5693339 5 13 5 z"></path>
                        </svg>                
                        <input type="text" class="search" placeholder="Search" id="searchInput">
                    </div>
                    
                    <div class="search-results" id="searchResults">      
                    </div>
                    <div class="search-result-item template"> 
                            <a href="#" class="search-item-link" style="text-decoration: none; color: inherit;">
                                <span class="search-item-title"> Quest: </span>
                                <span class="search-item-content"> jkdfhsdkjhfsd...</span>
                            </a>
                    </div>
                </div>
                <button onclick="window.location.href='{% url "questions:question_ask" %}'" class="ask-button">Ask</button>
            {% if user.is_authenticated %}
                <div class="profile-wrapper">
                <img src="{{ avatar }}" alt="avatar" class="avatar">
                <div>
                    <div class="profile-name">{{ user.username }}</div>
                    <div class="button-wrapper">
                        <a href={% url "core:settings" %}>settings</a>
                        <a href={% url "core:logout" %}>log out</a>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="unauthorised-wrapper">
                    <a href={% url "core:login" %}>log in</a>
                    <a href={% url "core:signup" %}>register</a>
                <div>
            {% endif %}
            
        </header>

        <div class="page-content__root">
            {% block content %}{% endblock content %}
        </div>

    </div>
    {% block scripts %}{% endblock %}
    <script src="{% static 'js/ajax.js' %}"> </script>
</body>

<script>
    const inputElem = document.getElementById("searchInput")

    const handleSearch = debounce((query) => { 
        const url = `/questions/search?q=${query}`;
        console.log(url)
        fetch(url, {
            method: 'GET', 
            headers: {
            'Accept': 'application/json'
        }
        })
        .then(response => response.json())
        .then(data => {
            console.log("data is", data)
            searchItems = data.questions
            console.log(searchItems)
            const searchContainer = document.querySelector(".search-results");
            searchContainer.replaceChildren();
            searchItems.forEach(item => {
                const searchItemTemplate = document.querySelector(".search-result-item.template");
                
                const newSearchItem = searchItemTemplate.cloneNode(true);
                
                newSearchItem.style.display = 'block';
                newSearchItem.querySelector(".search-item-title").textContent = item.title;
                newSearchItem.querySelector(".search-item-content").textContent = item.content;
                newSearchItem.querySelector(".search-item-link").href = `/questions/${item.id}/detail/`;
                searchContainer.appendChild(newSearchItem);
                console.log(item.title);
            });
            
            
            console.log('New answer added:');
        })
        .catch(error => {
            console.error('Error:', error);
        });
        
        console.log(query); 
    }, 300)

    inputElem.addEventListener('input', (e) => { handleSearch(e.target.value); });


</script>
</html>

