{% extends "base.html" %}
{% load static %}

{% block page_links%}
    <link rel="stylesheet" href="{% static "questions/css/ask.css" %}">
    <link rel="stylesheet" href="{% static "css/aside.css" %}">
{% endblock %}

{% block content %}
<main>
    <div class="content-with-form-wrapper">  
        <h2>New question</h2>
        <div class="input-error">
            Text should have not less than 10 symbols.
        </div>
        <!-- <div class="input-error" style="display: none"> чтобы не отображать-->
        <form action="#" method="post">
            <div class="form-main-content">
                <label>
                    <span class="input-header">Title</span>
                    <div class="input-wrapper">
                        <input type="text" name="title">
                    </div>
                </label>
                <label>
                    <span class="input-header">Text</span>
                    <div class="input-wrapper">
                        <textarea name="text"></textarea>
                    </div>
                </label>
                <label>
                    <span class="input-header">Tags</span>
                    <div class="input-wrapper">
                        <input type="text">
                    </div>
                </label>
            </div>
            <input type="submit" value="Ask question" name="tags">
        </form>
    </div>  
</main>
{% include "aside.html"%}

{% endblock %}
            
