{% extends "base.html" %}

{% load static index %}

{% block page_links %}
    <link rel="stylesheet" href="{% static 'questions/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/paginator.css' %}">
{% endblock %}

{% block title %}
    Вопросы
{% endblock %}

{% block content %}
<main class="root__main">
    <section class="root__header">
        <h2>New questions</h2>
        <a href="#" class="hot-questions">Hot questions</a>
    </section>
            
    <section class="root__questions">
        {% for question in object_list %}
            {% include 'question_card.html' with instance=question %}
        {% endfor %}               

    </section>

    {% include 'paginator.html' with obect_list=object_list page_obj=page_obj %}
</main>
{% include 'aside.html' %}

{% endblock content %}

