{% extends "base.html" %}

{% load static index %}

{% block page_links %}
    <link rel="stylesheet" href="{% static 'questions/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'questions/css/question_card.css' %}">
    <link rel="stylesheet" href="{% static '/css/paginator.css' %}">
{% endblock %}


{% block title %}
{% if tag %}
    Вопросы по тегу
{% else %}
    Вопросы
{% endif %}
{% endblock %}

{% block content %}
<main class="root__main">
    <section class="root__header">
        {% if tag %}
            <h2>Tag: {{ tag }} </h2>
        {% elif hot %}
            <a href="{% url "questions:questions_hot" %}"> <h2>Hot questions </h2></a>
            <a href="{% url "questions:index_question_view" %}"> <h3>New questions</h3></a>
        {% else %}
            <a href="{% url "questions:index_question_view" %}"> <h2>New questions</h2></a>
            <a href="{% url "questions:questions_hot" %}"> <h3>Hot questions </h3></a>
        {% endif %}
    </section>
    
    <section class="root__questions">
        {% for question in page_obj.object_list %}
            {% include 'question_card.html' with instance=question %}
        {% endfor %}               
    </section>

    {% include 'paginator.html' with page_obj=page_obj %}
</main>
{% include 'aside.html' with popular_tags=popular_tags best_members=best_members %}

{% endblock content %}

