{% extends 'base.html' %}

{% block page_links %}
    <link rel="stylesheet" href="../static/css/ask.css">
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock%}

<main>
    <div class="content-with-form-wrapper">  
        <h2>Log in</h2>
        <div class="input-error">
            Incorrect password.
        </div>
        <form action="#" method="post">
            <div class="form-main-content">
                <label class="enter-label">
                    <span class="input-header">Login</span>
                    <div class="input-wrapper">
                        <input type="text" name="login">
                    </div>
                </label>
                <label class="enter-label">
                    <span class="input-header" autocomplete="current-password" >Password</span>
                    <div class="input-wrapper">
                        <input type="password" name="password">
                    </div>
                </label>
            </div>
            <input type="submit" value="Log in">
        </form>
        <a href="#">Create new account</a>
    </div>  
</main>
{% include 'aside.html' %}


