{% load static %}

<div class="question-item" data-id="{{ instance.id }}">
    <div class="question__likes-and-avatar">
        <img src="{% static 'questions/img/avatar.png' %}" alt="avatar" class="avatar">
        <div class="likes">
            <button class="btn-like">▲</button>
            {{ instance.likes }}
            <button class="btn-like">▼</button>            
        </div>
    </div>

    <div class="question__content">
        <div class="question-title">{{ instance.title }}</div> 
        <div class="description">{{ instance.content|truncate_str:50 }} </div>
        <div class="question__footer">
            <div style="font-weight: 600" >Tags</div>
            <div>
                {% for tag in instance.tags.all %}
                    <a href="{% url "questions:questions_tag" tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>      
</div>    
            