{% extends "base.html" %}
{% load static %}

{% block page_links %}
    <link rel="stylesheet" href="{% static "questions/css/one_question_card.css" %}">
    <link rel="stylesheet" href="{% static "questions/css/ask.css" %}">
    <link rel="stylesheet" href="{% static "questions/css/question.css" %}">
    <link rel="stylesheet" href="{% static "questions/css/answer_card.css" %}">
{% endblock %}

{% block title %}
    Вопрос {{ question.id }}
{% endblock %}

{% block content %}
<main class="root__main">     

    {% include "one_question_card.html" with instance=question %}
    <section class="answers">
        {% for answer in answers %}
            {% include "answer_card.html" with instance=answer %}
        {% endfor %}
    </section>    
    
    <section class="user-answer">
        <form method="post" id="answer-form">
            {% csrf_token %}
            {% for field in form %}
                {% include 'blocks/question_form_field.html' %}
            {% endfor %}
            <input type="submit" value="Answer" name="tags">
        </form>
    </section>
</main>

{% load static %}

<div class="answer-item template">
    <div class="answer__likes-and-avatar">
        <img alt="avatar" class="avatar">
        <div class="likes">
            <button class="btn-like answer" data-like-type="1" data-answer-id="-1">▲</button>
            <span class="counter" data-answer-id="-1">0</span>
            <button class="btn-like answer" data-like-type="0" data-answer-id="-1">▼</button>            
        </div>
    </div>
    <div class="answer__content">
        <div class="description"></div>
        <div class="answer__footer">
            <label class="answer_checkbox__footer">
                <input class="checkbox" data-answer-id="-1" type="checkbox" disabled>
                <span>Correct!</span>
            </label>
        </div>
    </div>
</div>

<script>
    const form = document.getElementById("answer-form");
    form.addEventListener('submit', async(e) => {
        console.log("Hello")
    })

    const CENTRIFUGO_URL = "{{ centrifugo_url }}";
    const CENTRIFUGO_TOKEN = "{{ centrifugo_token }}";
    const centrifuge = new Centrifuge(`ws://${CENTRIFUGO_URL}/connection/websocket`, { token: CENTRIFUGO_TOKEN })
    centrifuge.on('connecting', function (ctx) {
      console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
    }).on('connected', function (ctx) {
      console.log(`connected over ${ctx.transport}`);
    }).on('disconnected', function (ctx) {
      console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
    }).connect();

    const CENTRIFUGO_CHANNEL = "{{ centrifugo_channel }}"
    console.log(CENTRIFUGO_CHANNEL)
    const sub = centrifuge.newSubscription(CENTRIFUGO_CHANNEL);
    
    document.addEventListener('click', function(event) {
        const answerBtn = event.target.closest('.btn-like.answer');
        if (answerBtn) {
            event.preventDefault();
            const { answerId, likeType } = answerBtn.dataset;
            
            const url = `/questions/answers/${answerId}/like/`;
            const data = { type: likeType };
            
            const init = {
                method: "POST",
                mode: 'same-origin',
                headers: { 
                    "X-CSRFToken": csrftoken, 
                    'Content-Type': 'application/json; charset=UTF-8' 
                },
                body: JSON.stringify(data),
            };
            
            fetch(url, init)
                .then((response) => response.json())
                .then((responseAsJson) => {
                    console.log(responseAsJson);
                    const likeCounter = document.querySelector(`span.counter[data-answer-id="${answerId}"]`);
                    if (likeCounter) {
                        likeCounter.textContent = responseAsJson.new_likes_count;
                    }
                    
                    const type = responseAsJson.type;
                    console.log(type);
                    const btnlike = document.querySelector(`button.answer[data-answer-id="${answerId}"][data-like-type="1"]`);
                    const btndislike = document.querySelector(`button.answer[data-answer-id="${answerId}"][data-like-type="0"]`);
                    if (type == "-1") {
                        btndislike?.classList.add("chosen");
                        btnlike?.classList.remove("chosen");
                    } else if (type == "0") {
                        btndislike?.classList.remove("chosen");
                        btnlike?.classList.remove("chosen");
                    } else if (type == "1") {
                        btndislike?.classList.remove("chosen");
                        btnlike?.classList.add("chosen");
                    }
                })
                .catch((e) => { console.error(e); });
        }
        
        const checkbox = event.target.closest('input.checkbox');
        if (checkbox && !checkbox.hasAttribute('disabled')) {
            event.preventDefault();
            const { answerId } = checkbox.dataset;
            
            const url = `/questions/answers/${answerId}/check/`;
            const init = {
                method: "POST",
                mode: 'same-origin',
                headers: { "X-CSRFToken": csrftoken },
            };
            
            fetch(url, init)
                .then((response) => response.json())
                .then((responseAsJson) => {
                    checkbox.checked = responseAsJson.is_correct;
                })
                .catch((e) => { console.error(e); });
        }
    });

    sub
    .on('publication', function (ctx) {
    const {message} = ctx.data;
    const { id, content, author, is_liked, likes, is_correct, question_author_id } = message || {};
    
    const answerContainer = document.querySelector(".answers");
    const answerTemplate = document.querySelector(".answer-item.template");
    
    const newAnswer = answerTemplate.cloneNode(true);
    
    newAnswer.querySelector('.avatar').src = author?.avatar || "/media/avatars/no-avatar.jpeg";
    newAnswer.querySelector('.description').textContent = content;
    
    const elementsWithId = newAnswer.querySelectorAll('[data-answer-id="-1"]');
    elementsWithId.forEach(element => {
        element.dataset.answerId = id;
    });
    
    const likeCounter = newAnswer.querySelector('.counter[data-answer-id="' + id + '"]');
    if (likeCounter) {
        likeCounter.textContent = likes;
    }
    
    const btnLike = newAnswer.querySelector('.btn-like.answer[data-like-type="1"][data-answer-id="' + id + '"]');
    const btnDislike = newAnswer.querySelector('.btn-like.answer[data-like-type="0"][data-answer-id="' + id + '"]');
   
    const checkbox = newAnswer.querySelector('.checkbox[data-answer-id="' + id + '"]');
    if (checkbox) {
        checkbox.checked = is_correct || false;
    }
    if ("{{ user.is_authenticated}}"=="True" && {{ user.id }} == question_author_id) {
      checkbox.removeAttribute('disabled');
    }
    newAnswer.classList.remove("template");
    
    answerContainer.appendChild(newAnswer);
    
    console.log('New answer added:', message);
    })
    .on('subscribing', function (ctx) {
      console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
    })
    .on('subscribed', function (ctx) {
      console.log('subscribed', ctx);
    })
    .on('unsubscribed', function (ctx) {
      console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
    })
    .subscribe();
</script>


{% include "aside.html" %}  

{% endblock %}



