{% extends "base.html" %}
{% load static %}

{% block page_links %}
    <link rel="stylesheet" href="{% static "questions/css/ask.css" %}">
    <link rel="stylesheet" href="{% static "questions/css/question.css" %}">
{% endblock %}

{% block title %}
    Вопрос 1
{% endblock %}

{% block content %}
<main class="root__main">           
    <section class="one_question">
        <div class="question-item">
            <div class="question__likes-and-avatar">
                <img src="../static/img/avatar.png" alt="avatar" class="avatar">
                <div class="likes">
                    <input style="font-size: 14px;" type="number">
                </div>
            </div>

            <div class="question__content">
                <div>
                    <a href="#content" class="question-title">How to build a moon park?</a>
                    <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse possimus
                    minima officiis iure? Commodi illo quibusdam voluptates accusantium id deleniti natus nobis
                    explicabo tempore? Porro, assumenda. Rem cumque dignissimos sint.</div>
                </div>
                <div class="question__footer">
                    <span>
                        Tags
                        <a href="#">black-jack</a>
                        <a href="#">bender</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="answers">
        <div class="answer-item">
            <div class="answer__likes-and-avatar">
                <img src="../static/img/avatar.png" alt="avatar" class="avatar">
                <div class="likes">
                    <input style="font-size: 14px;" type="number">
                </div>
            </div>

            <div class="answer__content">
                <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse possimus
                    minima officiis iure? Commodi illo quibusdam voluptates accusantium id deleniti natus nobis
                    explicabo tempore? Porro, assumenda. Rem cumque dignissimos sint.</div>

                <div class="answer__footer">
                    <label class="answer_checkbox__footer">
                        <input type="checkbox">
                        <span>Correct!</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="answer-item">
            <div class="answer__likes-and-avatar">
                <img src="../static/img/avatar.png" alt="avatar" class="avatar">
                <div class="likes">
                    <input style="font-size: 14px;" type="number">
                </div>
            </div>

            <div class="answer__content">
                <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse possimus
                    minima officiis iure? Commodi illo quibusdam voluptates accusantium id deleniti natus nobis
                    explicabo tempore? Porro, assumenda. Rem cumque dignissimos sint.</div>

                <div class="answer__footer">
                    <label class="answer_checkbox__footer">
                        <input type="checkbox">
                        <span>Correct!</span>
                    </label>
                </div>
            </div>
        </div>

    </section>
    <section class="user-answer">
        <form action="#" method="post">
            <label>
                <div class="input-wrapper">
                    <textarea name="text" placeholder="Enter your answer here"></textarea>
                </div>
            </label>
            <input type="submit" value="Answer" name="tags">
        </form>
    </section>
</main>

{% include "aside.html" %}  

{% endblock %}



