{% load static %}

<div class="question-item" data-id="{{ instance.id }}">
    <div class="question__likes-and-avatar">
        <img src="{% static 'questions/img/avatar.png' %}" alt="avatar" class="avatar">
        <div class="likes">
            <input style="font-size: 14px;" type="number">
        </div>
    </div>

    <div class="question__content">
        <a href="{% url "questions:question_detail" instance.id %}" class="question-title">{{ instance.title }}</a> 
        <div class="description">{{ instance.content|truncate_str:50 }} </div>
        <div class="question__footer">
            <a href="{% url "questions:question_detail" instance.id %}">answers ({{ instance.answers_cnt }})</a>
            <span>
                Tags
                {% for tag in instance.tags.all %}
                    <a href="{% url "questions:questions_tag" tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </span>
        </div>
    </div>      
</div>    
            