.content-with-form-wrapper {
    max-width: 500px;
}

.input-header {
    min-width: 160px;
}

.form-submit-wrapper {
    margin-top: 32px;
}

.file-upload-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 50px;
}
