
aside {
    margin-top: 16px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside #best_members>.best-members-links {
    display: flex;
    gap: 12px;
    flex-direction: column;
}
 
aside #popular_tags>.popular-tags-links {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
 
 
.orange {
    color: orange;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

aside .best_members a:hover {
    color: blue
}

aside .best_members a:hover {
    color: blue
}

aside a:hover {
    color: blue; 
}

aside #best_members a,
aside #popular_tags a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
 
ul.best-members-links {
    list-style: none;
    text-decoration: none;
    padding: 0;
}