{% extends "base.html" %}
{% load static %}

{% block page_links %}
    <link rel="stylesheet" href="{% static 'core/css/base_core.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/file_upload.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="content-with-form-wrapper">  
        <h2>Settings</h2>
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="form-main-content">
                <label class="enter-label">
                    <span class="input-header">Login</span>
                    <div class="input-wrapper">
                        <input type="text" name="login" value="dr_pepper">
                    </div>
                </label>
                <label class="enter-label">
                    <span class="input-header">Email</span>
                    <div class="input-wrapper">
                        <input type="email" name="email" value="dr.pepper@mail.ru">
                    </div>
                </label>
                <label class="enter-label">
                    <span class="input-header">NickName</span>
                    <div class="input-wrapper">
                        <input type="text" name="nickname" value="Dr.Pepper">
                    </div>
                </label>
    
                <div class="re-upload">
                    <span class="input-header">Avatar</span>
                    <div class="file-re-upload">
                        <img src="{% static 'questions/img/avatar.png' %}" alt="avatar" class="user-avatar">
                        <div class="file-upload">
                            <input type="file" id="avatar-input" name="avatar">
                            <label for="avatar-input" class="file-upload-button">Choose file</label>
                            <span class="file-name">No file chosen</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-submit-wrapper">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>  
</main>
{% include "aside.html" %}
{% endblock %}